<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Admin</h1>

    
    <p1>The message was sent by : "<%= @message.name %>"</p1>  
    <p7>Titled: "<%= @message.title %>"</p7><br>
    <p2>The contact details are: </p2>
    <p3>Phone: <%= @message.phone %></p3><br>
    <p4>Email: <%= @message.email %></p4><br>
    <p5>The content is: </p5><br>
    <p6>"<%= @message.body %>"</p6>



    <p>
      Sample mail sent using smtp.
      Message sent.
    </p>
  </body>
</html>
